name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Check
        run: |
          npm ci
          npm run check
          npm run check:prettier
      - name: Check Icons
        working-directory: icons
        run: |
          npm ci
          npm run check
